# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Anciens fichiers
/public/index.html
/server.js
/uploads

# Tests
/tests
**.sample

# Intellij
.idea

# PWA - fichiers générés automatiquement par next-pwa
/public/sw.js
/public/workbox-*.js